@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: rgb(20, 64, 73);
    background: linear-gradient(121deg, rgb(19, 53, 61) 23%, rgb(41, 101, 108) 87%, rgba(39, 91, 83, 0.984) 99%);

}
footer{
    margin-top: auto;
}


body{
    font-family: 'Titillium Web', sans-serif;
}

.texto-fecha{
    font-size: 1em;
}
.texto-hora{
    font-size: 3.2em;
}
#ampm, #seg{
    font-size: .8em;
}

@media screen and (min-width: 475px){
    .texto-fecha{
        font-size: 1.5em;
    }
    .texto-hora{
        font-size: 3.9em;
    }
    #ampm, #seg{
        font-size: 1.1em;
    }
}